:root {
    --white: 255, 255, 255;
    --red: 229, 57, 53;
    --orange: 251, 140, 0;
    --yellow: 253, 216, 53;
    --green: 67, 160, 71;
    --blue: 30, 136, 229;
    --indigo: 57, 73, 171;
    --violet: 156, 39, 176;
    --theme-color: var(--white);
}

html, body{
    scroll-behavior: smooth;
    height: 100%;
    line-height: 1;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}
body{
    background-color: black;
    background-image: radial-gradient(rgba(var(--theme-color), 0.4) 9%, transparent 9%);
    background-position: 0% 0%;
    background-size: 50px 50px;
    background-attachment: fixed;
}
*, *::after, *::before{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}
