
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: white;
}

header {
  background: #065f63;

  padding: 20px;
  border-radius: 5px;
  text-align: end;
  margin-left: 20px;
  margin-right: 17px;
  
  
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}


nav ul li {
  display: inline;
  margin-right: 80px;
  

}
nav ul  div.button{
margin-left: 1250px;
border-radius: 5px;
background-color: red;
text-align: center;
margin-top: -2%;
}
nav ul div.button:hover{
transform: scale(1.1) ;
overflow: hidden;
text-transform: uppercase;
background:#2cb1b8;  
transition: all 500ms ease-in-out;


}

nav ul li:hover{
text-transform: uppercase;
color: pink;


}

nav ul li a {
  text-decoration: none;
  color: #fff;
}


.container{
    display: flex;
    

}


.text{
    text-align: justify;
    margin-left: 10%;
    
}
.tex{
  margin-left: 2%;
}
.te{
  margin-left: 4%;
}
.desc{
    text-align: justify;
    margin-right: 10%;    
  }

  .check{
    color: white;
    background-color: red;
    padding: 12px;
    border: #dfd2d2;
    border-radius: 5px;
    
  }
  .check:hover{
    text-transform: uppercase;
    color: white;
    
   }

   footer {
    padding: 20px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: -1%;
   
}
.asdf{
  background: #065f63;
  margin-left: -1%;
  margin-right: -0.5%;
 

}