*, *::after, *::before{
  margin: 0;
  padding: 0;
  
}
a{
  text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;

}
header {
  background: #065f63;

  padding: 20px;
  border-radius: 5px;
  text-align: end;
  margin-left: 20px;
  margin-right: 25px;
  }
.togood{
  margin-top: -2px;
  margin-bottom: 1%;
  border-radius: 5px;
  margin-left: 15%;
  background: white;
}
.menubartogood{
  margin-right: 1%;
}
.menubartogoo{
  margin-left: 5%;
  margin-right: -12%;
}
.menu{
  display: flex;
  margin-left: 250px;
  margin-bottom: -4%;
}
.menubar{
  margin-left: 12%;
}
.menubar:hover{
  transform: scale(1.1);
}
.to{
  margin-left: 2%;
}
.too{
  overflow: hidden;
}
               

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}


nav ul li {
    display: inline;
    margin-right: 80px;
    

}


nav ul  div.button{
  margin-left: 1250px;
  border-radius: 5px;
  text-align: center;
  margin-top: -2%;
  background: rgb(227, 55, 55);
}
nav ul div.button:hover{
  transform: scale(1.1) ;
  overflow: hidden;
  text-transform: uppercase;
  background:#2cb1b8;  
  transition: all 500ms ease-in-out;
  
}

nav ul li:hover{
  text-transform: uppercase;
  color: red;
  
  
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}


main {
    padding: 20px;
    background:  white;
    border-radius: 5px;
}
.sdes-to{
  margin-top: 75px;
}
.slider-des{
  margin-top: -500px;
  margin-left: 150px;
}
.img-text-module-content{
  margin-left: 150px;
  font-size: x-large;
}
.contents{
  margin-top: -20px;
}
.dslc-text-module-content{
  margin-left: 150px ;
}
.dslc-button{
  border: 2px solid white;
  margin-top: 20px;
  border-radius: 10px;
  text-align: center;
  margin-left: 150px;
  font-size: x-large;
  width: 200px;
  background: rgb(227, 55, 55);
}
.dslc-button:hover{
  transform: scale(0.8);
  overflow: hidden;
  text-transform: uppercase;
  background:#2cb1b8; 
}

div.dsl{
margin-top: 10rem;
margin-left: 150px;
margin-bottom: -10px;
}
div.title{
  margin-right: 50rem;
  font-size: large;
  margin-left: 150px;  
}
.dup{
  margin-left: 600px;
  margin-right: -700px;
  margin-top: -125px;
}


div {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
.color{
  background: linear-gradient(90deg, #2cb1b8 ,#065f63);
  margin-top: 70px;
  margin-bottom: 10px;
}
.background-image {
  margin-top: 15px;
  margin-bottom: 50px;
  width: 23rem;
  height: -250px;
  z-index: -1;
  display: inline-flex;
  flex-direction: row;
}
.background-image img:hover{
  transform: scale(1.1);
}

  
.background-image img {
  width: 23rem;
  height: 250px;
  object-fit: cover;
  border: 2px solid;
  border-radius: 10px;
  margin-left: 12px;
  margin-bottom: 10px;


}.bo{
  margin-left: 50px;
  border-radius: 10px;
  margin-top: 50px;
}
.box{
  margin-left: 155px;
}

.boxx{
  margin-left: 275px;

}
.ma{
  text-align: center; 
  color: #fff;
}
.des{
  text-align: justify;
  margin-top: 10px;
  width: 370px;
  margin-left: 15px;
  
}



div {
  font-family: Arial, sans-serif;
    line-height: 1.6;
}
.lotext{
  margin-top: 50px;
}
  .sub-text{
    text-align: left;
    margin-right: 100px;
    margin-bottom: -10px;
    
  }
  .text-module-content{
    font-size: large;
    margin-left: 150px;
    margin-bottom: 10px;
  }
  .mainslos{
    margin-left:65rem;
    margin-bottom: -22rem;
    border-radius: 100%;
    width: 350px; 
  }
  .dslc-text-module-content{
    margin-right: 35rem;
  }



div.dep{
    text-align: center;
    margin-top: 5rem;
    background: #065f63;
}
.deep{
    text-align: center;
    background: #065f63;
    padding-bottom: 10px;            
    
}.de{
  display: flex;
  background: #95c9cb;

}


.text{
  margin-top: 50px;
  text-align: left;
  margin-left: 9.5rem;
  margin-right: 20px;
  
}
.tet{
  margin-right: 60px;
  margin-left: -26px;
  margin-top: 50px;
}
.desc{
  text-align: left;
  margin-right: 30px;    
}

 /* project part */
div.p{
  flex-direction: row;
  display: flex;
  border: 2px solid #dfd2d2;
  border-radius: 5px;
  background: linear-gradient(90deg,#0cc0df,#ffde59);
  transition: all 850ms ease-in-out;
  margin-top: 50px;
  height: 50px;
  
}


div.p:hover{
  transform: scale(0.9);
  overflow: hidden;
  text-transform: uppercase;
}
.pa{
  color: #000000;
  text-align: left;
  margin-left: 150px;
  
}
.paa{
  color: #000000;
  margin-left: 150px;
  
}
.paaa{
  color: #000000;
  margin-left: 150px;
}
.paaaa{
  color: #000000;
  margin-left: 150px;
  
}

div.dslar{
  margin-top: 70px;
  margin-left: 150px;
  margin-bottom: -5px;
  }
  div.dslar-title{
    margin-right: 50rem;
    font-size: large;
    margin-left: 150px;  
  }
  .title-dup{
    margin-left: 600px;
    margin-right: -700px;
    margin-top: -100px;
    margin-bottom: 50px;
  }

  
.customer{
  font-size: xx-large;
  margin-top: -5px;
  
}
.dslc-text-module-content-customer{
  margin-top: 50px;
  margin-left: 150px;
  

}
.number-txt{
 
  text-align: justify;
}


footer {
    padding: 20px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 5%
   
}
.asdf{
  background: #065f63;
  margin-left: -1%;
}
.mainslo{
  border-radius: 100%;
  width: 200px;
  margin-left: -80%;
  margin-bottom: -15%;
}
.foot{
  display: flex;
  margin: 5%;
  margin-right: 2%;
  margin-top: -5%;
  

}.elementor--{
  margin-top: 25%;
}


.elementor-icon-list-items{
  margin-top: 5%;
  text-align: left;
  margin-left: 12%;
  
  
}
.elementor-icon-list{
  margin-top: 10%;
  
}
.widget-container{
  text-align: left;
  margin-left: 2%;
  
  
}
.widget-containers{
  margin-left: -12%;
}
.widget-containerss{
  margin-left: 2%;
  text-align: left;
}
.foote{
  width: 20%;
  margin-left: 1%;
}
.-footer-{
  width: 20%;

}.elementor-widget{
  margin-left: 10%;
}
.footers{
  width: 25%;
  margin-left: 12%;


}.call{
  margin-top: 15%;
  margin-right: 50%;
  height: 15%;
  text-align: center;
  width: 60%;
  background-color: rgb(239, 50, 50);
  border-radius: 2.5px;
  
  
}
.call:hover{
  transform: scale(1.1);
  overflow: hidden;
  transition: all 700ms ease-in-out;
  background:#2cb1b8;  


  
}
.copy{
  display: flex;
  margin-top: -1%;
  margin-left: 1%;
  font-size: small;
  color:#fff;
}
.copys{
  margin-bottom: -10%;
  margin-top: -5%;
 margin-left: 55%;
 font-size: small;
}
.term{
  color: #fff;
}
.term:hover{
  overflow: hidden;
  
}